outputs_CELEBA/gen*.png
outputs_CELEBA/*.pth
outputs_CIFAR10/gen*.png
outputs_CIFAR10/*.pth
outputs_MNIST/gen*.png
outputs_MNIST/*.pth
outputs_FashionMNIST/gen*.png
outputs_FashionMNIST/*.pth
__pycache__/
